// Set base font
$primary-font: Arial, sans-serif;
$secondary-font: Georgia;

// Set colors
// Blue for links, some backgrounds and buttons.
$primary-blue: #09498d;
// Focus color for light backgrounds
$focus-blue: #66afe9;
// Focus color for dark backgrounds
$focus-blue-dark: #003598;

// Brand
$clr-brand-blue: #006AC3;
$clr-brand-yellow: #FEDF01;
$clr-brand-gray: #F1F1F1;
// Text
$clr-text-dark: #333333;
$clr-text-error: #9c0000;
// Sidebar
$clr-sidebar-header: #e6e1db;
// Left Navigation
$clr-leftnav-border: #E3E3E3;
$clr-leftnav-child-border-active: #FFDE00;
$clr-leftnav-child-bg-active: #f5f5f5;
// Table
$clr-table-cell-bg: #F4F5FA;
$clr-table-border: #E3E3E3;
// Breadcrumbs
$clr-breadcrumbs-bg: #E3E3E3;
// Global Search
$clr-globalsearch-bg: #F3F4F5;
$clr-globalsearch-border: #EAEAEA;
// Buttons
$clr-btn-main-hover: #005185;
$clr-btn-secondary-hover: #fbaa26;