@import '_config.scss';

// px fallback
@mixin font-size($sizeValue) {
	// font-size: ($sizeValue) + px;
	// font-size: ($sizeValue / 10) + rem;
	font-size: $sizeValue*100%/14.5;
}
@mixin focus(){
	outline-width: 2px!important;
	outline-style: solid!important;
	outline-color: #66afe9!important;
	outline-offset: 2px!important;
}
@mixin focusLigth(){
	outline-width: 2px!important;
	outline-style: solid!important;
	outline-color: #fff!important;
	outline-offset: 2px!important;
}
@mixin transform($args) {
	-webkit-transform: $args;
	-moz-transform: $args;
	-ms-transform: $args;
	-o-transform: $args;
	transform: $args;
}
@mixin transition($args) {
	-webkit-transition: $args;
	-moz-transition: $args;
	-ms-transition: $args;
	-o-transition: $args;
	transition: $args;
}