/* Color helper classes */
.lightblueBg {
	background-color: #f4f5fa;
}
.lightBrown {
	background-color: #e6e1db;
}
.whiteBg {
	background-color: #fff;
}
.darkBlueBg {
	background-color: #09498d;
}
/* Icon helper classes */
i.rbc-icon {
	position: relative;
	display: inline-block;
	text-decoration: none;
}
i.redIcon {
	color: #d63c1b!important;
}
i.blueIcon {
	color: #09498d!important;
}
i.whiteIcon {
	color: #fff!important;
}
i.greyIcon {
	color: #747474!important;
}
i.greenIcon {
	color: #5dad00!important;
}
/* Equal height columns helper */
.row-eq-height {
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	align-items: stretch;
}
.boxShadow {
	box-shadow: 0px 0px 15px 2px rgba(128, 128, 128, .2);
}
/*-------------------------------------------- */
/** Common Elements */
/*-------------------------------------------- */
/* Buttons */
.infoBtn {
	margin-left: 5px;
	position: relative;
	cursor: pointer;
	display: inline;
}
.infoBtn .rbc-icon {
	// @include font-size(20);
	vertical-align: middle;
}
.yellowBtnLarge {
	@include font-size(16);
	margin-left: 3px;
	color: #000;
	line-height: 0;
	background-color: #ffd700;
	padding: 0px 15px;
	font-weight: 400;
	border: 1px solid #ffd700;
	height: 45px;
	position: relative;
	display: inline;
}
.yellowBtnLarge:hover {
	background-color: #fbaa26;
	border: 1px solid #fbaa26;
}
button.yellowBtnLarge:focus {
	@include focusLigth();
}
.defaultBtn,
.blueBtn,
.blueBtnChevron {
	@include font-size(16);
	font-weight: 400;
	line-height: 0;
	padding: 19px 15px;
	color: #fff;
	border: 0;
	background-color: #0659b0;
	border:  1px solid #0659b0;
}
.defaultBtn {
	color: #0659b0;
	background-color: #fff;
}
.blueBtn:hover,
.blueBtnChevron:hover {
	background-color: #00427a;
	border: 1px solid #00427a;
	// color: #0659b0;
}
.blueBtn:hover i {
	color: #fff;
}
.blueBtnChevron:hover i {
	color: #fed830;
}
.blueBtnChevron i {
	margin-left: 5px;
	color: #fed830;
	line-height: 0;
	vertical-align: top;
	font-weight: 700;
	@include font-size(11);
}
/*-------------------------------------------- */
/** Footer */
/*-------------------------------------------- */
#footerWrapper {
	clear: both;
	margin: 0 auto;
	padding: 30px 0;
	border-top: 1px solid #f4f5fa;
}
.footerCols {
	margin: 0;
	padding: 20px 15px 0;
	border-right: 1px solid #f4f5fa;
}
.footerColsLast {
	border: 0;
}
.footerCols h4 {
	@include font-size(16);
	margin: 0 0 25px;
}
.footerCols ul {
	padding: 0;
	list-style: none;
}
.footerCols li {
	// Fix for focus
	line-height: 2;
	margin-bottom: 10px;
}
.footerCols a {
	line-height: 1.2;
}
// Related ONLY to prod environment.  Do not remove.
#footerWrapper .footerLinks a span{
	text-decoration: none;
}

#footerWrapper .footerLinks a span:hover {
	color: #09498d;
	text-decoration: underline;
}
// End. Related ONLY to prod environment.  Do not remove.
/*-------------------------------------------- */
/** Forms */
/*-------------------------------------------- */
.formInputInline input,
.formInputInline select {
	height: 44px;
	margin: 0;
	background-size: 8px;
	border-radius: 0!important;
	-webkit-appearance: none;
	   -moz-appearance: none;
			appearance: none;
}
.formInputInline select {
	background-color: #fff;
	background-image: url(../images/chevron.png);
	background-repeat: no-repeat;
	background-position: right 10px center;
	background-size: 10px;
}
.formBtnInline,
.formLabelInline {
	//This needs to be set as px. Investigating
	font-size: 14.5px;
	font-weight: 400;
	line-height: 42px;
	height: 44px;
	margin-right: -1px;
	padding: 0 12px;
	text-align: center;
	color: #3c3c3c;
	background-color: #f9f9f9;
}
.formInputInline {
	margin: 0 -20px;
	padding: 20px 20px 10px;
}
.formBtnInlineRight {
	margin-left: -1px;
}
.formBtnBlue {
	color: #fff;
	background-color: #09498d;
}
.input-group-fullWidth {
	width: 100%;
}
.formBtnBlue i {
	margin-right: 0px;
}
/*-------------------------------------------- */
/** Error Messages */
/*-------------------------------------------- */
.notices,
.redNotice,
.yellowNotice,
.greenNotice,
.blueNotice,
.blueBorderNotice {
	border: 2px solid #e1e1e1;
	position: relative;
	display: block;
	margin: 20px 0;
	padding-bottom: 20px;
}
.redNotice {
	border: 2px solid #b6151e;
}
.yellowNotice {
	border: 2px solid #f7a90d;
}
.greenNotice {
	border: 2px solid #3A7849;
}
.blueNotice,
.blueBorderNotice {
	border: 2px solid #2c539e;
}
.defaultNoticeMsg,
.redMessage,
.yellowMessage,
.greenMessage,
.blueMessage,
.blueBorderMessage {
	@include font-size(16);
	margin: 0;
	padding: 10px 20px 10px 44px;
	color: #282828;
	background-color: #e1e1e1;
	margin-bottom: 0px;
	/*Corrects Defect # 29613 Related ONLY to prod environment.  Do not remove. */
	font-family: Arial, sans-serif !important;
}
.redMessage {
	color: #fff;
	background-color: #b6151e;
}
.yellowMessage {
	color: #000;
	background-color: #f7a90d;
}
.greenMessage {
	color: #fff;
	background-color: #3A7849;
}
.blueMessage {
	color: #fff;
	background-color: #2c539e;
}
.blueBorderMessage {
	color: #000;
	background-color: #fff;
	border-bottom: 2px solid #2c539e;
}
.defaultNoticeMsg i,
.redMessage i,
.yellowMessage i,
.greenMessage i,
.blueMessage i,
.blueBorderMessage i {
	position: absolute;
	left: 10px;
	@include font-size(20);
}
.blueBorderMessage i {
	color: #2c539e;
}
.arrowDownDefault,
.arrowDownRed,
.arrowDownYellow,
.arrowDownGreen,
.arrowDownBlue,
.arrowDownBorderBlue {
	position: relative;
	left: 10px;
	width: 0;
	height: 0;
	border-top: 10px solid #e1e1e1;
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
	top: 0;
}
.arrowDownRed {
	border-top: 10px solid #b6151e;
}
.arrowDownYellow {
	border-top: 10px solid #f7a90d;
}
.arrowDownGreen {
	border-top: 10px solid #3A7849;
}
.arrowDownBlue {
	border-top: 10px solid #2c539e;
}
.notices p {
	margin: 0;
	padding: 10px 20px 0;
	color: #404040;
}
.notices ul {
	padding: 10px 30px 0 48px;
}
.notices li {
	margin-bottom: 5px;
}
/* Body Level Errors*/
.bodyError {
	width: initial;
	display: inline-block;
	width: 100%;
	margin-top: 0;
	padding-bottom: 0;
}
.bodyError .redMessage {
	padding: 8px 5px 0 38px;
}
.bodyError .redMessage i {
	left: 10px;
}
/*-------------------------------------------- */
/** Tooltips and Dropdowns styles */
/*-------------------------------------------- */
.toolTip {
	display: inline-block;
	position: relative;
}
.toolTip .dropdown-toggle {
	background-color: transparent;
	border: 0 none;
	padding: 0;
	margin-left: 5px;
}
.toolTip .dropdown-toggle i {
	@include font-size(18);
	vertical-align: text-top;
	margin: 0;
}
.toolTip .dropdown-header {
	padding: 0;
	@include font-size(16);
	color: #000;
	font-weight: 700;
	margin-top: 0;
	margin-left: initial;
	white-space: initial;
}
.toolTip .dropdown-menu {
	position: absolute;
	top: -22px;
	left: 35px;
	border: 1px solid #737373;
	width: 300px;
	padding: 35px 25px 25px 20px;
	font-size: inherit!important;
}
.toolTip .dropdown-menu:before,
.toolTip .dropdown-menu:after {
	content: "";
	position: absolute;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	top: 20px;
	left: 0;
	margin-left: -10px;
}

.toolTip .dropdown-menu:before {
	border-right: 10px solid #5A5A5A;
	margin-top: 0px;
}

.toolTip .dropdown-menu:after {
	border-right: 10px solid #fff;
	margin-top: 0px;
	z-index: 1;
	margin-left: -9px;
}
.toolTip .peak {
	position: absolute;
	left: -10px;
	top: 20px;
}
.closeDropdown, .closeModal {
	color: #0659b0;
	@include font-size(18);
	position: absolute;
	right: 5px;
	top: 5px;
	cursor: pointer;
	line-height: 1;
	padding: 3px 3px 2px 4px;
	border: 1px solid #fff;
	&:hover {
		border: 1px solid #747474;
		color: #030303;
	}
	&:focus, &:active {
		border: 1px dashed #747474;
		color: #0659b0;
	}
}
.dropdown-menu a {
	@include font-size(14.5);
}
/*-------------------------------------------- */
/** Forms and inputs */
/*-------------------------------------------- */
.inputWrapper {
	position: relative;
	display: inline-block;
	width: 100%;
}
.inputWrapperHalf {
	position: relative;
	display: inline-block;
	float: left;
	width: 40%;
}
.formBlock input[type=text],
.formBlock input[type=password] {
	width: 100%;
	margin: 8px 10px 0 0;
	padding: 12px 10px;
	border: 0;
	color: #555;
}
.checkBoxWrapper {
	position: relative;
	display: inline;
	margin-left: 3px;
}
.checkBoxWrapper{
	top: -3px;
}
/* Checkbox compatible with browsers */
.formBlock .checkboxInput {
	position: absolute;
	z-index: 100;
	top: -6px;
	left: 0px;
	width: 26px;
	height: 26px;
	opacity: 0;
	cursor: pointer;
}
.formBlock .checkbox {
	top: 0px;
	width: 26px;
	height: 26px;
	margin: 0;
	text-align: center;
	vertical-align: middle;
	background-color: #fff;
	-webkit-appearance: none;
	display: inline-block;
	cursor: pointer;
	// accessibility fix
	// border: 1px solid #0758ae;
}
.checkBoxWrapper input[type="checkbox"]:checked + .checkbox:before {
	padding: 0px 5px 0;
	font-family: "Glyphicons Halflings";
	@include font-size(16);
	content: "\e013";
	line-height: 1.6;
	text-align: center;
	vertical-align: middle;
	color: #4cb300;
}
.checkBoxWrapper input[type="checkbox"]:focus + .checkbox{
	@include focus();
}
.checkBoxWrapper input[type="checkbox"]:not(:focus) + .checkbox{
	border:  0 none!important;
	outline: none!important;
}
/* Select input Sign in post*/
.formBlock select {
	line-height: 1.2;
	display: block;
	width: 100%;
	height: 40px;
	margin: 10px 10px 20px 0;
	padding: 6px 20px 6px 12px;
	cursor: pointer;
	color: #555;
	border: 1px solid #ccc;
	background: url(../images/chevron.png) #fff no-repeat;
	background-position: right 20px center;
	background-size: 10px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.formFullWidth span {
	position: relative;
	display: table-cell;
	width: 1px;
	margin-left: 1px;
}
.formFullWidth {
	position: relative;
	display: table;
}
.formFullWidth span {
	display: table-cell;
	width: 1%;
}
.formFullWidth .form-control {
	width: auto!important;
}
.formFullWidth button,
.formFullWidth label {
	font-weight: 400;
	right: -1px;
	height: 44px;
	padding: 0 12px;
	text-align: center;
	color: #3c3c3c;
	border: 1px solid #ccc!important;
	background-color: #f9f9f9;
}
.selectSec .input-group {
	width: 340px;
	height: 44px;
	margin: 0;
}
.selectSec .formInputInline {
	padding-top: 0;
}
/* Plaholder.js */
.placeholdersjs {
	color: #333438;
}